.login{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 138px;
    left: 0;
    width: 820px;
}

.login_inputset{
    margin-top: 16px;
    width: 820px;
    height: 52px;
    font-size: 18px;
    font-family: 'NanumGothic';
    border-radius: 5px;
}

.login_btn{
    width: 820px;
    height: 64px;
    background-color: #195384;
    color : #ffffff;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid #707070;
}

.login_btn:hover{
    background-color:#1D69AA;
}

.signup_btn{
    width:820px;
    height: 64px;
    color:#195384;
    font-size: 24px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid #195384;
}

.signup_btn:hover{
    background-color:#1D69AA;
}

hr{
    color: #707070;
    border: 2px solid #707070;
    margin-top: 20px;
    margin-bottom: 20px;
}
#id_save{
    font-size: 14px;
    font-weight: normal;
}

#find_pw{
    position: relative;
    right: 0px;
    font-size:14px;
}

