.warpper{
    position: relative;
}

.reservation{
    position: fixed;
    top: 500px;
    right: 20px;
    width: 450px;
    height: 570px;
    background-color:lightgray;
}

.reseve_inputset{
    width: 169px;
    height: 36px;
    border: 1px solid #ABABAB;
    border-radius: 5px;
}
.intro_image{
    background : lightblue;
    height: 436px;
}

button{
    margin: 5px;
    background-color: #FFFFFF;
    border: 1px solid #707070;
    width: 54;
    height: 32;
}
.reserve_button_none{
    background-color: #ABABAB;

}